h1 {
	font-size: 1.25rem;
	width: max-content;
	overflow-x: hidden;
	margin: 0 0.5rem;
}

h2 {
	margin: 0;
	position: relative;
	z-index: 1;
	text-align: center;
	color: white;
}

.fill {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.center-content {
	display: flex;
	justify-content: center;
	align-items: center;
}

.split {
	background-color: grey;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: grid;
	grid-template-rows: max-content auto;
}

.component-showcase {
	min-width: 300px;
	height: calc(100% - 1rem);
	width: calc(100% - 1rem);
	border: inset 0.5rem #aaa;
	position: relative;
}

::deep .component-controls input {
	margin: 0.125rem 0.125rem 0 0.125rem;
}
::deep .component-controls label {
	margin: 0.25rem 0.125rem 0 0.125rem;
}